alembic 
altair 
anyio 
appdirs 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-generator==1.10
attrs 
Babel 
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bleach 
blinker 
bokeh 
Bottleneck 
brotlipy 
CacheControl==0.12.11
cached-property 
certifi==2022.12.7
certipy==0.1.3
cffi 
charset-normalizer 
cleo==2.0.1
click 
cloudpickle 
colorama 
comm 
conda==22.11.1
conda-package-handling 
conda_package_streaming 
contourpy 
crashtest==0.4.1
cryptography 
cycler 
Cython 
cytoolz 
dask 
debugpy 
decorator 
defusedxml 
dill 
distlib==0.3.6
distributed 
dulwich==0.20.50
entrypoints 
et-xmlfile 
exceptiongroup==1.1.0
executing 
fastjsonschema 
filelock==3.9.0
flake8==6.0.0
flit_core 
fonttools 
fsspec 
gmpy2 
greenlet 
h5py 
HeapDict==1.0.1
html5lib==1.1
idna 
imagecodecs 
imageio 
importlib-metadata 
importlib-resources 
iniconfig==2.0.0
ipykernel 
ipympl 
ipython 
ipython-genutils==0.2.0
ipywidgets 
jaraco.classes==3.2.3
jedi 
jeepney==0.8.0
Jinja2 
joblib 
json5 
jsonschema 
jupyter-events 
jupyter-telemetry 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterhub 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keyring==23.13.1
kiwisolver 
libmambapy 
llvmlite==0.39.1
locket 
lockfile==0.12.2
lz4 
Mako 
mamba 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe==0.7.0
mistune 
more-itertools==9.0.0
mpmath 
msgpack 
munkres==1.1.4
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
oauthlib 
openpyxl==3.0.10
packaging 
pamela==1.0.0
pandas==1.5.3
pandocfilters 
parso 
partd 
patsy 
pexpect 
pickleshare 
Pillow 
pkginfo==1.9.6
pkgutil_resolve_name 
platformdirs 
pluggy 
poetry==1.3.2
poetry-core==1.4.0
poetry-plugin-export==1.3.0
pooch 
prometheus-client 
prompt-toolkit 
protobuf
psutil 
ptyprocess 
pure-eval 
pyarrow==10.0.1
pycodestyle==2.10.0
pycosat 
pycparser 
pycurl==7.45.1
pyflakes==3.0.1
Pygments 
PyJWT 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pyspark==3.3.1
pytest==7.2.1
python-dateutil 
python-json-logger 
pytz 
PyWavelets 
PyYAML 
pyzmq 
rapidfuzz==2.13.7
requests 
requests-toolbelt==0.10.1
rfc3339-validator 
rfc3986-validator 
ruamel.yaml 
ruamel.yaml.clib 
scikit-image 
scikit-learn 
scipy==1.10.0
seaborn 
SecretStorage==3.3.3
Send2Trash 
shellingham==1.5.0.post1
six 
sniffio 
sortedcontainers 
soupsieve 
SQLAlchemy 
stack-data 
statsmodels 
sympy 
tables 
tblib 
terminado 
threadpoolctl 
tifffile 
tinycss2 
tomli 
tomlkit==0.11.6
toolz 
tornado 
tqdm 
traitlets 
trove-classifiers==2023.1.20
typing_extensions 
unicodedata2 
urllib3 
virtualenv==20.17.1
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
xlrd 
zict 
zipp 
zstandard==0.19.0
smart-open==6.3.0
findspark==2.0.1
mysql-connector-python==8.0.32
faker